.jumbotron {
    background-image: url("../img/pexels-alexisricardoalaurin-27895383.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}